body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form select {
    width: calc(100% - 22px); /* Добавляем отступы к ширине для компенсации кнопок */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* List styles */
#positions-list, #employees-list {
    margin-bottom: 20px;
}

#positions-list div, #employees-list div {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#positions-list div p, #employees-list div p {
    margin: 0;
}

#positions-list div button, #employees-list div button {
    margin-left: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#positions-list div button:hover, #employees-list div button:hover {
    background-color: #bd2130;
}

#view-mode {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#view-mode p {
    margin: 0;
}

#view-mode button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#view-mode button:hover {
    background-color: #0056b3;
}

.back-home-button {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-home-button:hover {
    background-color: #0056b3;
}
